[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DIRECT"]
	path = DIRECT
	url = https://github.com/cran/DIRECT
[submodule "cancerGI"]
	path = cancerGI
	url = https://github.com/cran/cancerGI
[submodule "noise"]
	path = noise
	url = https://github.com/cran/noise
